<script lang="ts">
import {defineComponent} from 'vue';
import {mapItems} from '@/mocks/mapItemsMock';
//import MapToVue from "@/lib-components/mapToVue.vue";

export default defineComponent({
  name: 'ServeDev',
  components: {
    //MapToVue
  },
  data() {
    return {
      mapItems: mapItems,
      mapConfig: {
        zoom: 2,
        width: 1200,
        height: 600,
        mapModel: {
          name: 'google',
          apiKey: 'AIzaSyAaKRz9tQY9pEmFtUbY95sakO1T4n7ABtw',
        },
      },
    };
  },
});
</script>

<template>
  <map-to-vue :items="mapItems" :config="mapConfig"></map-to-vue>
</template>

<style>
body, html {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
