<template>
  <div id="map" :style="{ height: height, width: width }"></div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {Loader} from "@googlemaps/js-api-loader";
import {MarkerClusterer} from "@googlemaps/markerclusterer";
import Marker = google.maps.Marker;
import GeocoderResponse = google.maps.GeocoderResponse;

import {mapItem} from "../../interfaces/Interfaces";
import {mapConfig} from "../../interfaces/configInterfaces";

export default /*#__PURE__*/ defineComponent({
  name: "GoogleMap",
  props: {
    items: {
      required: true,
      type: Array as () => mapItem[],
    },
    config: {
      required: true,
      type: Object as () => mapConfig,
    },
  },
  emits: ['markerWasClicked'],
  data: () => {
    return {
      markers: <any>[],
      map: null
    };
  },
  computed: {
    height() {
      return this.config.height ? `${this.config.height}px` : "600px";
    },
    width() {
      return this.config.width ? `${this.config.width}px` : "600px";
    },
    getItems(): mapItem[] {
      return this.items;
    },
    getMarkerItems(): Marker[] {
      return this.markers;
    },
  },
  async created() {
    let mapCenter = {lat: 49.8728253, lng: 8.6511929};
    // get google instance
    /*const google = */
    await this.getMapLoader();
    // get map
    this.map = await this.getMap(mapCenter)
    // geocode city to coordinates
    await this.geocoder();
    // get markers
    this.markers = await this.getMarkers();
    // create cluster
    this.getCluster()
  },
  methods: {
    async getMapLoader(): Promise<typeof google> {
      return new Loader({
        apiKey: this.config.mapModel.apiKey,
        version: "weekly",
      }).load();
    },
    async getMap(center: any): Promise<any> {
      return new google.maps.Map(
          document.getElementById("map") as HTMLElement,
          {
            center: center,
            zoom: Number(this.config.zoom),
          }
      );
    },
    async getMarkers(): Promise<Marker[]> {
      const markers: Marker[] = [];
      this.getItems.map((item: mapItem) => {
        if (item.coordinates.lat && item.coordinates.long) {
          const marker = new google.maps.Marker({
            position: {
              lat: Number(item.coordinates.lat),
              lng: Number(item.coordinates.long),
            },
            title: item.title,
            label: String(item.id)
          });

          marker.addListener('click', (e: any) => {
            const item = this.getItems.find((item) => String(item.id) === String(marker.getLabel()))
            this.itemClicked(e.domEvent, item)
          })
          markers.push(marker)
        }
      });
      return markers;
    },
    getCluster(): any {
      new MarkerClusterer({markers: this.getMarkerItems, map: this.map});
    },
    async geocoder(): Promise<any> {
      return Promise.all(
          this.getItems.map(async (e: mapItem, index: number) => {
            if (e.coordinates.city) {
              await new google.maps.Geocoder()
                  .geocode({
                    address: e.coordinates.city,
                  })
                  .then((cor: GeocoderResponse) => {
                    const lat = cor.results[0].geometry.location.lat();
                    const lng = cor.results[0].geometry.location.lng();
                    const item = {...e, coordinates: {...e.coordinates, lat: lat, long: lng}};
                    this.getItems[index] = item
                    return {item};
                  });
            }
          })
      );
    },
    itemClicked(event: any, item: mapItem | undefined) {
      if(item) this.$emit('markerWasClicked', {
        item,
        posX: event.clientX,
        posY: event.clientY
      })
    }
  },
})
</script>

<style scoped>

</style>
