<template>
  <div
    class="item-popup"
    :style="{ top: posY, left: posX }"
    @click="openItem(id)"
  >
    <div class="box-image">
      <img :src="image" class="image" />
    </div>
    <div class="box-text">
      <h2>{{ title }}</h2>
      <h4>{{ subtitle }}</h4>
      <p>{{ desc }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { markerClickedInterface } from "@/interfaces/Interfaces";

export default /*#__PURE__*/ defineComponent({
  name: "ItemPopup",
  props: {
    object: {
      required: true,
      type: Object as () => markerClickedInterface,
    },
  },
  data() {
    return {
      id: this.object.item.id,
      title: this.object.item.title,
      subtitle: this.object.item.subtitle,
      thumbnail: this.object.item.thumbnailSrc,
      desc: this.object.item.description,
      posX: this.object.posX - 150 + "px",
      posY: this.object.posY - 130 + "px",
    };
  },
  computed: {
    image() {
      return this.thumbnail
        ? this.thumbnail
        : require("../../access/no-image.png");
    },
  },
  methods: {
    openItem(id: number | string): any {
      this.$emit("openItem", id);
    },
  },
});
</script>

<style scoped>
.item-popup {
  z-index: 100;
  position: absolute;
  width: 300px;
  height: 100px;
  padding: 15px;
  border: 1px solid #cba73f;
  border-radius: 10px;
  background-color: #dcbd6a;
  display: flex;
  align-items: center;
  padding: 0;
  display: flex;
  cursor: pointer;
}

.box-image {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 90%;
  height: 90%;
}

.box-text {
  width: 70%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
}

.box-text h2 {
  margin: 0;
}

.box-text h4 {
  margin: 0;
}

.box-text p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
